#container-register {
    width: 50vw;
    margin: 40px auto;
    background-color: rgb(248, 249, 250);
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (max-width: 1024px) {
    #container-register {
        width: 80vw;
    }
}

#titleRegister {
    text-align: center;
}

.msgSubmitError {
    color: red;
}