#container-vacation {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

#container-hedaerHome {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px;
    justify-content: space-between;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#container-hedaerHome #sortBy {
    display: flex;
    align-items: center;
    gap: 8px;
}

#container-Pagination {
    padding: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#pagedOfTotal {
    min-width: 120px;
    text-align: center;
}